.auth-bg {
  height: 100%;
  background-color: var(--bs-secondary);
  background-image: url("https://fastly.picsum.photos/id/8/1080/720.jpg?hmac=FAvuAhfFRE5nGIiLhpkiIV-yjFP28eAh_WDZbyoRPz8");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
