<div class="container mb-5">
  <h1 class="font-semibold text-lg md:text-2xl mb-4">Administradores</h1>

  <div class="text-end">
    <a class="btn btn-primary w-full md:w-auto" routerLink="/admins/create">Cadastrar</a>
  </div>

  <div class="border shadow-sm rounded-md mt-4">
    <div class="relative w-full overflow-auto">
      <table>
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tipo</th>
            <th scope="col" width="40px">Ações</th>
          </tr>
        </thead>

        <tbody>
          @if (isLoading()) {
            <tr>
              <td colspan="3" class="text-center">
                <span class="spinner-border spinner-border-sm mr-1"></span>
              </td>
            </tr>
          } @else {
            @for (item of list(); track item.id) {
              <tr>
                <td class="font-semibold">{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ UserTypeLabel.get(item.type) }}</td>
                <td class="flex flex-row">
                  <span class="cursor-pointer text-dark me-3" title="Editar" [routerLink]="item.id + '/edit'">
                    <lucide-icon name="pencil" color="#0080ff" [size]="20" />
                  </span>
                  <span class="cursor-pointer text-dark delete-product" (click)="delete(item.id)" title="Excluir">
                    <lucide-icon name="trash-2" color="#ff0000" />
                  </span>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="3" class="text-center">Não há administradores cadastrados!</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
