<div class="container mb-5">
  <h1 class="font-semibold text-lg md:text-2xl mb-4">Administradores</h1>

  <div class="text-end">
    <a class="btn btn-primary w-full md:w-auto" routerLink="/admins/create">Cadastrar</a>
  </div>

  <div class="mt-4">
    <div class="relative w-full overflow-auto">
      <table class="custom-table">
        <thead>
          <tr>
            <th scope="col">Nome</th>
            <th scope="col">E-mail</th>
            <th scope="col">Tipo</th>
            <th scope="col" width="12%">Ações</th>
          </tr>
        </thead>

        <tbody>
          @if (isLoading()) {
            <tr>
              <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-sm mr-1"></span>
              </td>
            </tr>
          } @else {
            @for (item of list(); track item.id) {
              <tr>
                <td class="font-semibold">{{ item.name }}</td>
                <td>{{ item.email }}</td>
                <td>{{ UserTypeLabel.get(item.type) }}</td>
                <td class="flex flex-row">
                  <div
                    class="flex items-center justify-center cursor-pointer rounded-lg me-3 bg-[#666D80] w-7 h-[26px]"
                    title="Editar"
                    [routerLink]="item.id + '/edit'"
                  >
                    <img src="assets/icons/pencil.svg" class="object-cover" />
                  </div>
                  <div
                    class="flex items-center justify-center cursor-pointer relative rounded-lg bg-[#D74B76] w-7 h-[26px]"
                    (click)="delete(item.id)"
                    title="Excluir"
                  >
                    <img src="assets/icons/trash.svg" />
                  </div>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="4" class="text-center">Não há administradores cadastrados!</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
