<div class="container mb-5">
  <h1 class="font-semibold text-lg md:text-2xl mb-4">
    {{ !idCollaborator ? "Novo Colaborador" : "Editar Colaborador" }}
  </h1>

  <div class="border rounded-md p-4 md:min-h-[212px] relative">
    @if (loading()) {
      <div class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2">
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </div>
    }
    <form class="grid gap-3" [formGroup]="formGroup" errorTailor (ngSubmit)="handleSubmit()" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <app-input type="date" label="Data de admissão" formControlName="admission_date" position="left">
            <img Icon src="assets/icons/text.svg" alt="date" />
          </app-input>
          <app-input type="date" label="Data de nasc" formControlName="birth_date" position="left">
            <img Icon src="assets/icons/Birth_date.svg" alt="date" />
          </app-input>
        </div>
      </div>

      <div class="flex justify-center gap-3 mt-3 md:mt-8">
        <a href="javascript:history.back()" class="btn btn-outline-secondary w-1/2 md:w-64 hover:!text-white">Voltar</a>
        <button type="submit" class="btn btn-primary w-1/2 md:w-64" [isLoading]="submitting()">
          {{ !idCollaborator ? "Cadastrar" : "Atualizar" }}
        </button>
      </div>
    </form>
  </div>
</div>
