@if (label) {
  <label class="form-label" [for]="id">{{ label }}</label>
}

<div class="relative">
  <input
    [id]="id"
    class="ps-10 form-control"
    [type]="eyePassword() ? 'text' : 'password'"
    [attr.placeholder]="placeholder"
    [formControl]="control"
  />
  <div class="left-3 absolute top-1/2 -translate-y-1/2 text-[0] z-50">
    <ng-content select="[Icon]" />
  </div>

  <button type="button" (click)="eyePassword.set(!eyePassword())" class="absolute right-3 top-1/2 -translate-y-1/2">
    <lucide-icon [name]="eyePassword() ? 'eye-off' : 'eye'" [size]="20" />
  </button>
</div>
