<div class="container my-8">
  <div class="flex flex-wrap justify-end md:justify-between items-center">
    <p class="cursor-pointer" routerLink="/journey">Jornadas</p>
    <p class="cursor-pointer" routerLink="/collaborator">Colaborador</p>
    <p class="cursor-pointer" routerLink="/status-sales">Status Vendas</p>
    <p class="cursor-pointer" routerLink="/status-task">Status Tarefa</p>
    <p class="cursor-pointer" routerLink="/payment-method">Metodo de pagamento</p>
    <p class="cursor-pointer" routerLink="/activity">Atividades</p>
    <p class="cursor-pointer" routerLink="/cost-center">Centro de Custo</p>
    <p class="cursor-pointer" routerLink="/project-type">Tipo de Projeto</p>
    <p class="cursor-pointer" routerLink="/charge-type">Tipo de cobrança</p>
    <p class="cursor-pointer" routerLink="/user-types">Tipo de usuário</p>
    <p class="cursor-pointer" routerLink="/checklists">Checklist</p>
    <p class="cursor-pointer" routerLink="/tags">tags</p>
  </div>
</div>
