<div class="relative flex justify-center items-center h-screen px-3 md:px-0 bg-[#F6F8FA]">
  <img src="assets/images/logo.svg" class="hidden lg:block absolute left-16 top-8 object-cover" />

  <img src="assets/images/background.svg" class="hidden lg:block absolute" />

  <div
    class="lg:absolute w-full md:!max-w-[480px] flex justify-center items-center flex-col shadow-[0px_1px_2px_0px_#1018280F] border p-6 rounded-2xl border-solid border-[#DFE1E7] bg-[#FFFFFF]"
  >
    <div class="mb-6">
      <img src="assets/icons/default-user.svg" class="h-20 w-20 object-cover" alt="" srcset="" />
    </div>
    <h1 class="font-poppins font-medium text-2xl mb-2">Recuperar senha</h1>

    @if (!submitted) {
      <p class="font-poppins text-[#666D80] leading-6 font-normal text-base">Informe seu e-mail cadastrado</p>

      <form class="mt-6 w-full" [formGroup]="form" errorTailor novalidate (ngSubmit)="handleSubmit()">
        <div class="mb-3">
          <app-input type="email" label="Email" formControlName="email" placeholder="Digite seu e-mail" position="left">
            <img Icon src="assets/icons/email.svg" alt="email" />
          </app-input>
        </div>

        <div class="flex justify-center mt-10">
          <button type="submit" class="btn btn-primary w-full rounded-2xl py-[14px]" [isLoading]="submitting">
            Recuperar senha
          </button>
        </div>
      </form>
    } @else {
      <div [@fadeIn]>
        <p class="font-poppins text-[#666D80] leading-6 font-normal text-base">
          Acesse seu e-mail e siga as instruções para criar uma nova senha.
        </p>
        <div class="mt-12">
          <span class="fw-bold me-3">Não recebeu as instruções?</span>

          <button
            type="submit"
            class="mt-2 btn btn-primary w-full rounded-2xl py-[14px]"
            [isLoading]="submitting"
            (click)="handleSubmit()"
          >
            Recuperar senha
          </button>
        </div>
      </div>
    }

    <div class="text-center mt-12">
      <a routerLink="/login" class="text-black">Voltar para login</a>
    </div>
  </div>

  <p class="font-poppins font-normal text-lg leading-6 text-[#666D80] absolute bottom-10">
    ©2024 operative tecnologia
  </p>
</div>
