<div class="row g-0 h-full">
  <div class="col-md-6 col-lg-5 !m-auto">
    <div class="flex justify-center">
      <div class="col-11 col-sm-10 col-xl-8">
        <h6 class="h3 mb-1">Recuperar a senha</h6>

        <ng-container *ngIf="!submitted">
          <p class="opacity-80">
            Informe seu e-mail cadastrado no nosso site e receba instruções de como criar uma nova senha
          </p>

          <form class="mt-12" [formGroup]="form" errorTailor novalidate (ngSubmit)="handleSubmit()">
            <div class="mb-3">
              <app-input type="email" label="Seu e-mail" formControlName="email" />
            </div>

            <div class="flex justify-center mt-5">
              <button type="submit" class="btn btn-primary w-full md:w-2/4" [isLoading]="submitting">
                Recuperar senha
              </button>
            </div>
          </form>
        </ng-container>

        <div *ngIf="submitted" [@fadeIn]>
          <p class="opacity-80 mb-5">Acesse seu e-mail e siga as instruções para criar uma nova senha.</p>

          <div class="mt-12">
            <span class="fw-bold me-3">Não recebeu as instruções?</span>

            <button type="button" class="btn btn-primary" [isLoading]="submitting" (click)="handleSubmit()">
              Reenviar e-mail
            </button>
          </div>
        </div>

        <div class="text-center mt-12">
          <a routerLink="/login" class="text-black">Voltar para login</a>
        </div>
      </div>
    </div>
  </div>

  <div class="col hidden md:block">
    <div class="auth-bg"></div>
  </div>
</div>
