<div class="row g-0 h-full">
  <div class="col-md-6 col-lg-5 !m-auto">
    <div class="flex justify-center">
      <div class="col-11 col-sm-10 col-xl-8">
        <h6 class="h3 mb-1">Redefinir a senha</h6>
        <p class="opacity-80">Informe sua nova senha para obter acesso ao sistema</p>

        <form class="mt-12" [formGroup]="form" errorTailor (ngSubmit)="handleSubmit()" novalidate>
          <div class="mb-3">
            <app-input type="email" label="E-mail" formControlName="email" />
          </div>

          <div class="mb-3">
            <app-input-password label="Digite uma nova senha" formControlName="newPassword" />
          </div>

          <div class="flex justify-center mt-5">
            <button type="submit" class="btn btn-primary" [isLoading]="submitting">Redefinir senha</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="col hidden md:block">
    <div class="auth-bg"></div>
  </div>
</div>
