<div class="container mb-5">
  <h1 class="font-semibold text-lg md:text-2xl mb-4">Workflows</h1>

  <div class="grid gap-4">
    @for (execution of executions; track execution.id) {
    <div class="rounded-md border shadow-sm">
      <div class="grid md:flex items-center gap-4 p-6">
        <div class="flex items-center gap-4">
          @if (execution.status === 'completed') {
          <lucide-icon name="check-circle" class="text-green-500" />
          } @else if (execution.status === 'running') {
          <lucide-icon name="circle" class="text-yellow-500" />
          } @else if (execution.status === 'failed') {
          <lucide-icon name="x-circle" class="text-red-500" />
          } @else {
          <lucide-icon name="circle" class="text-gray-500" />
          }

          <div class="grid gap-1">
            <h3 class="text-2xl font-semibold whitespace-nowrap leading-none tracking-tight">
              {{execution.template.name}}
            </h3>
            <p class="text-sm text-gray-500">{{execution.template.description}}</p>
          </div>
        </div>

        <div class="md:ml-auto text-sm text-gray-500">
          <div><b>Iniciado:</b> {{execution.startedAt | date : 'medium'}}</div>
          <div>
            <b>Concluído:</b> {{execution.completedAt ? (execution.completedAt | date : 'medium') : execution.status}}
          </div>
        </div>

        <div class="flex items-center gap-2">
          @if (execution.status === 'failed') {
          <a
            class="btn btn-sm btn-danger"
            placement="top"
            ngbTooltip="Executar Falhos"
            target="_blank"
            rel="noopener noreferrer"
            [href]="urlWorkflowApi + '/' + execution.id + '/' + 'retry'"
          >
            <lucide-icon name="rotate-cw" />
          </a>
          }
          <a
            class="btn btn-sm btn-warning"
            placement="top"
            ngbTooltip="Clonar"
            target="_blank"
            rel="noopener noreferrer"
            [href]="urlWorkflowApi + '/' + execution.id + '/' + 'clone'"
          >
            <lucide-icon name="picture-in-picture-2" />
          </a>
          <button class="btn btn-sm btn-dark" placement="top" ngbTooltip="Payload" (click)="handleViewLogs(execution)">
            <lucide-icon name="braces" />
          </button>
          <a
            class="btn btn-sm btn-primary"
            placement="top"
            ngbTooltip="Logs"
            target="_blank"
            rel="noopener noreferrer"
            [href]="urlWorkflowApi + '/' + execution.id + '/' + 'logs'"
          >
            <lucide-icon name="list-tree" />
          </a>
        </div>
      </div>

      <div class="px-6 md:pl-20 pb-6 grid gap-2">
        @for (step of execution.steps; track step.step; let isLast = $last) {
        <div class="flex items-center gap-4">
          @if (step.status === 'completed') {
          <lucide-icon name="check-circle" class="text-green-500" />
          } @else if (step.status === 'running') {
          <lucide-icon name="circle" class="text-yellow-500" />
          } @else if (step.status === 'failed') {
          <lucide-icon name="x-circle" class="text-red-500" />
          } @else {
          <lucide-icon name="circle" class="text-gray-500" />
          }

          <div class="grid gap-1">
            <div class="font-semibold">{{getStepName(execution.templateVersion, step.step)}}</div>
            <div class="text-sm text-gray-500">{{getStepDescription(execution.templateVersion, step.step)}}</div>
          </div>
          <div class="ml-auto text-sm text-gray-500">
            <div><b>Iniciado:</b> {{step.startedAt | date : 'medium'}}</div>
            <div><b>Concluído:</b> {{step.completedAt ? (step.completedAt | date : 'medium') : step.status}}</div>
          </div>
        </div>

        @if(!isLast) {
        <div role="none" class="shrink-0 bg-gray-100 h-[1px] w-full"></div>
        } }
      </div>
    </div>
    }
  </div>
</div>
