<div class="p-0">
  <div class="px-7">
    <div class="my-6 cursor-pointer" routerLink="/settings">
      <lucide-icon name="arrow-left"></lucide-icon>
    </div>
    <div class="flex justify-between">
      <form [formGroup]="formSearch" class="relative max-sm:w-[163px] md:w-[242px] select-none mb-4 md:mb-0">
        <input
          formControlName="term"
          placeholder="Pesquisar"
          class="h-[38px] border border-solid border-[#C1C7D0] bg-[#F6F8FA] rounded-lg outline-none ps-11 w-full select-text"
        />
        <img src="assets/icons/search.svg" class="absolute top-50 left-4 translate-y-1/2" alt="" srcset="" />
      </form>

      <div class="text-end">
        <a class="btn btn-primary w-[163px] flex items-center justify-center" routerLink="/create-status-task">
          <img src="assets/icons/add.svg" class="me-2" /> Criar Tarefa</a
        >
      </div>
    </div>
  </div>

  <div class="mt-4 max-sm:p-0 sm:px-7">
    <div class="relative w-full overflow-auto">
      <table>
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome</th>
            <th scope="col">Status</th>
            <th scope="col">Ações</th>
          </tr>
        </thead>
        <tbody>
          @if (isLoading()) {
            <tr>
              <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-sm mr-1"></span>
              </td>
            </tr>
          } @else {
            @for (item of list(); track item.id) {
              <tr>
                <td class="font-semibold">{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>
                  <label
                    for="{{ item.id }}"
                    class="flex items-center cursor-pointer select-none text-dark dark:text-white"
                  >
                    <div class="relative">
                      <input
                        type="checkbox"
                        id="{{ item.id }}"
                        class="peer sr-only"
                        [checked]="item.active"
                        (change)="changeStatus(item.id)"
                      />
                      <div
                        class="block h-5 rounded-full box bg-dark dark:bg-dark-2 w-11 bg-gray-400 peer-checked:bg-blue-400"
                      ></div>
                      <div
                        class="absolute flex items-center justify-center w-3 h-3 transition bg-white rounded-full dot translate-x-1 top-1 dark:bg-dark-5 peer-checked:translate-x-7 peer-checked:dark:bg-white"
                      ></div>
                    </div>
                  </label>
                </td>
                <td>
                  <div class="flex flex-row">
                    <button
                      type="button"
                      class="flex items-center justify-center cursor-pointer rounded-lg me-3 bg-[#666D80] w-7 h-[26px]"
                      title="Editar"
                      [routerLink]="'/create-status-task/' + item.id + '/edit'"
                    >
                      <img src="assets/icons/pencil.svg" class="object-cover" />
                    </button>
                    <button
                      type="button"
                      class="flex items-center justify-center cursor-pointer relative rounded-lg bg-[#D74B76] w-7 h-[26px]"
                      title="Excluir"
                      (click)="delete(item.id)"
                    >
                      <img src="assets/icons/trash.svg" />
                    </button>
                  </div>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="3" class="text-center">Não há status de tarefa cadastrados!</td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
