<div class="container mb-5">
  <div class="bg-[#F6F8FA] border-[1.8px] rounded-lg p-4 md:min-h-[212px] relative">
    <h1 class="font-semibold text-lg md:text-2xl mb-10 font-poppins">
      {{ !idCostCenter ? "Informações básicas" : "Editar centro de custos" }}
    </h1>
    @if (loading()) {
      <div class="absolute top-[50%] left-[50%] -translate-x-1/2 -translate-y-1/2">
        <span class="spinner-border spinner-border-sm mr-1"></span>
      </div>
    }
    <form class="grid gap-3" [formGroup]="formGroup" errorTailor (ngSubmit)="handleSubmit()" novalidate>
      <div class="row">
        <div class="col-md-6 mb-3">
          <app-input label="Nome" formControlName="name" position="left">
            <img Icon src="assets/icons/text.svg" alt="email" />
          </app-input>
        </div>
        <div class="col-md-6 b-3">
          <label class="form-label">Status:</label>
          <ng-select [multiple]="false" formControlName="active">
            <ng-option [value]="true">Ativo</ng-option>
            <ng-option [value]="false">Inativo</ng-option>
          </ng-select>
        </div>
      </div>
      <div class="flex justify-end gap-3 mt-3 md:mt-8">
        <a href="javascript:history.back()" class="btn btn-outline-secondary w-1/2 md:w-64 hover:!text-white">Voltar</a>
        <button type="submit" class="btn btn-primary w-1/2 md:w-64" [isLoading]="submitting()">
          {{ !idCostCenter ? "Cadastrar" : "Atualizar" }}
        </button>
      </div>
    </form>
  </div>
</div>
