.backdrop {
  inset: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.4);
}

.sidebar {
  display: grid;
  grid-template-rows: 60px 1fr;
  margin-left: 0;
  width: 17.5rem;
  height: 100vh;
  transition:
    width 200ms cubic-bezier(0.4, 0, 0.2, 1),
    margin-left 200ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-x: hidden;

  &.sidebar-collapsed {
    @media (max-width: 767px) {
      margin-left: -17.5rem;
    }

    @media (min-width: 768px) {
      width: 5.2rem;
    }
  }
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  width: 17.5rem;
  overflow-x: hidden;
}

.sidebar-content {
  overflow-y: auto;
  flex-grow: 1;

  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #888;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 1.75rem;
  padding: 0.75rem 1.5rem;
  letter-spacing: 0.2px;
  line-height: 1.25;
  border-left: 4px solid transparent;
  text-decoration: none;
  transition: all 200ms;
  font-weight: 500;
  @apply text-gray-500;

  & > lucide-icon {
    opacity: 0.5;
  }

  &.active,
  &:hover {
    @apply bg-gray-200 text-gray-950;
    border-color: var(--bs-primary);

    lucide-icon {
      opacity: 1;
    }
  }
}
