@if (label) {
  <label class="form-label" [for]="id">{{ label }}</label>
}

@if (position) {
  <div class="relative">
    <ng-container *ngTemplateOutlet="inputTemplate" />

    <div
      [ngClass]="position === 'right' ? 'right-3' : 'left-3'"
      class="absolute top-1/2 -translate-y-1/2 text-[0] z-50"
    >
      <ng-content select="[Icon]" />
    </div>
  </div>
} @else {
  <ng-container *ngTemplateOutlet="inputTemplate" />
}

<ng-template #inputTemplate>
  <input class="ps-10 form-control" [id]="id" [type]="type" [formControl]="control" [attr.placeholder]="placeholder" />
</ng-template>
