<div class="row g-0 h-full">
  <div class="col hidden md:block">
    <div class="auth-bg"></div>
  </div>

  <div class="col-md-6 col-lg-5 !m-auto">
    <div class="flex justify-center">
      <div class="col-11 col-sm-10 col-xl-8">
        <h1 class="h3 mb-1">Bem vindo de volta ao login!</h1>
        <p class="opacity-80">Faça login em sua conta para continuar.</p>

        <form class="mt-12" [formGroup]="loginForm" errorTailor (ngSubmit)="onSubmit()" novalidate>
          <div class="mb-3">
            <app-input type="email" label="Seu e-mail" formControlName="email" />
          </div>

          <div class="mb-3">
            <app-input-password label="Senha" formControlName="password" />
          </div>

          <div class="text-end mb-3">
            <a routerLink="/forgot-password" class="text-black">Esqueceu sua senha?</a>
          </div>

          <div class="flex justify-center mt-10">
            <button type="submit" class="btn btn-primary w-full md:w-2/4" [isLoading]="loading">Entrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>