@import url("assets/fonts/fonts.scss");

html {
  height: 100%;

  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 720px) {
    font-size: 87.5%;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

.modal {
  display: block;
}

lucide-icon svg {
  stroke-width: 1.8;
}

.font-poppins {
  font-family: "Poppins", sans-serif !important;
}

.custom-modal {
  background-color: #107bb93b;
  .modal-content {
    border-radius: 16px;
  }
}
