<div class="container">
  <h1 class="font-semibold text-lg md:text-2xl mb-10">Visão Geral</h1>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    <div class="border rounded-md flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 px-4 bg-white py-10">
      <dt class="text-sm font-medium text-gray-500">Mentores</dt>
      <dd class="text-gray-700 text-xs font-medium" ngbTooltip="VS último mês">+4.75%</dd>
      <dd class="w-full text-3xl font-medium tracking-tight text-gray-900 leading-10">405,091</dd>
    </div>
    <div class="border rounded-md flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 px-4 bg-white py-10">
      <dt class="text-sm font-medium text-gray-500">Mentorados</dt>
      <dd class="text-red-600 text-xs font-medium" ngbTooltip="VS último mês">+54.02%</dd>
      <dd class="w-full text-3xl font-medium tracking-tight text-gray-900 leading-10">12,787</dd>
    </div>
    <div class="border rounded-md flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 px-4 bg-white py-10">
      <dt class="text-sm font-medium text-gray-500">Faturas pagas</dt>
      <dd class="text-gray-700 text-xs font-medium" ngbTooltip="VS último mês">-1.39%</dd>
      <dd class="w-full text-3xl font-medium tracking-tight text-gray-900 leading-10">R$ 1,245,988.00</dd>
    </div>
    <div class="border rounded-md flex flex-wrap items-baseline justify-between gap-x-4 gap-y-2 px-4 bg-white py-10">
      <dt class="text-sm font-medium text-gray-500">Mentorias</dt>
      <dd class="text-red-600 text-xs font-medium" ngbTooltip="VS último mês">+10.18%</dd>
      <dd class="w-full text-3xl font-medium tracking-tight text-gray-900 leading-10">5,600</dd>
    </div>
  </div>

  <div class="grid md:grid-cols-2 gap-4 mt-12">
    <div>
      <h2 class="text-lg font-semibold">Transações recentes</h2>

      <div class="mt-4 border rounded-md">
        <table>
          <thead>
            <tr>
              <th>Order</th>
              <th>Nome</th>
              <th>Date</th>
              <th class="text-right">Total</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="font-medium">#3210</td>
              <td>Olivia Martin</td>
              <td>February 20, 2022</td>
              <td class="text-right">$42.25</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td class="font-medium">#3209</td>
              <td>Ava Johnson</td>
              <td>January 5, 2022</td>
              <td class="text-right">$74.99</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td class="font-medium">#3204</td>
              <td>Michael Johnson</td>
              <td>August 3, 2021</td>
              <td class="text-right">$64.75</td>
              <td>Unfulfilled</td>
            </tr>
            <tr>
              <td class="font-medium">#3203</td>
              <td>Lisa Anderson</td>
              <td>July 15, 2021</td>
              <td class="text-right">$34.50</td>
              <td>Shipped</td>
            </tr>
            <tr>
              <td class="font-medium">#3202</td>
              <td>Samantha Green</td>
              <td>June 5, 2021</td>
              <td class="text-right">$89.99</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td class="font-medium">#3201</td>
              <td>Adam Barlow</td>
              <td>May 20, 2021</td>
              <td class="text-right">$24.99</td>
              <td>Unfulfilled</td>
            </tr>
            <tr>
              <td class="font-medium">#3207</td>
              <td>Sophia Anderson</td>
              <td>November 2, 2021</td>
              <td class="text-right">$99.99</td>
              <td>Paid</td>
            </tr>
            <tr>
              <td class="font-medium">#3206</td>
              <td>Daniel Smith</td>
              <td>October 7, 2021</td>
              <td class="text-right">$67.50</td>
              <td>Shipped</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div>
      <h2 class="text-lg font-semibold">Mentorias recentes</h2>

      <div class="mt-4 border rounded-md">
        <table>
          <thead>
            <tr>
              <th>Mentor</th>
              <th>Mentorado</th>
              <th>Date</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Ana Silva</td>
              <td>João Pedro</td>
              <td>23 de fevereiro de 2024</td>
              <td>Aguardando</td>
            </tr>
            <tr>
              <td>Mariana Costa</td>
              <td>Laura Santos</td>
              <td>20 de fevereiro de 2024</td>
              <td>Agendada</td>
            </tr>
            <tr>
              <td>Beatriz Torres</td>
              <td>Daniel Costa</td>
              <td>17 de fevereiro de 2024</td>
              <td>Realizada</td>
            </tr>
            <tr>
              <td>Felipe Gomes</td>
              <td>Gabriela Henriques</td>
              <td>16 de fevereiro de 2024</td>
              <td>Cancelada</td>
            </tr>
            <tr>
              <td>Ana Silva</td>
              <td>Karina Lima</td>
              <td>15 de fevereiro de 2024</td>
              <td>Aguardando</td>
            </tr>
            <tr>
              <td>Mariana Costa</td>
              <td>Matheus Nunes</td>
              <td>14 de fevereiro de 2024</td>
              <td>Agendada</td>
            </tr>
            <tr>
              <td>Beatriz Torres</td>
              <td>Olivia Pereira</td>
              <td>13 de fevereiro de 2024</td>
              <td>Realizada</td>
            </tr>
            <tr>
              <td>Felipe Gomes</td>
              <td>Rafael Queiroz</td>
              <td>10 de fevereiro de 2024</td>
              <td>Cancelada</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
